node_modules
npm-debug.log
.pnpm-store
.turbo
.git
.gitignore
README.md
.env
.env.local
.env.*.local
*.log
.DS_Store
coverage
.vscode
.idea
*.md
apps/*/build
apps/*/dist
apps/*/.svelte-kit
apps/*/node_modules
packages/*/node_modules
packages/*/dist
packages/*/build
